/.idea
/.vscode
/.fleet
/.agent

/vendor
/build
/node_modules

composer.phar
composer.lock

.DS_Store
Thumbs.db

.php_cs.cache
.php-cs-fixer.cache
.phpunit.cache
.phpunit.result.cache
__phpunit_output.txt